td {
    width: 10em;
    height: 10em;
    border: solid blue 5px;
    border-radius: 60%;
    background-color: white;
    text-align: center;
}
table {
    background-color: yellow;
    width: 20em;
    height: 20em;
}

/* #vide {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: solid thin red;
    text-align: center;
} */
