
table{

   margin: auto;
   width: 50%;
   background-color:#0090f0;
}
tr{

}
th{
    width: 20px;
   border: solid 2px;
   padding: 5% 0;
   border-radius: 50%;
   background-color: black;
}
#button{
   margin: 10px auto;
}
body {
    background-image: url(red2.jpg);
}
header {
    color: white;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Anton', sans-serif;
    color: yellow
}
h2 {
    font-size: 20px;
    text-align: center;
    color: #e000f0;
    margin-bottom: 5em;
    font-family: 'Muli', sans-serif;
}
